<html>
  <head>
    <meta charset="utf-8">
    <title>TP 2 - GCC</title>
    <style>
      .box{
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 40px;
        border-radius: .25rem;
      }
      body{
        background-color: #c5c5c5;
        margin: 0;
        font-family: sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
      }
      .btn{
        margin-top: 20px;
        float: right;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
      }
      .btn:hover{
        cursor: pointer;
      }
      .margin-bottom{
        margin-bottom: 20px;
      }
      .error{
        color: #f93434
      }
      .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    </style>
    </head>
    <body>
      <div class="box">
        <label class="error">{{ error }}</label>
        <form action="/app/" method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-default">Ingresar</button>
        </form>
      </div>
    </body>
  </html>
